*.pyc
*.log
node_modules
coverage/
arches_vue_components/logs
arches_vue_components/export_deliverables
arches_vue_components/cantaloupe/*
arches_vue_components/staticfiles
arches_vue_components/media/packages
arches_vue_components/media/build/
arches_vue_components/uploadedfiles/*
arches_vue_components/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration/

dist/
build/